<div class = "text-align-center">
  <h3>Display Welcome Message using Event Binding</h3>
</div>
<div class = "container">
  <mat-label>Enter your name</mat-label><br />
  <mat-form-field appearance = "outline">
    <input matInput [(ngModel)] = name />
  </mat-form-field>
  <span class="left-spacing">
    <button mat-stroked-button (click)="welcomeMe()" class="button-style">
      Welcome Me
    </button>
  </span><br />
</div>
<div class = "container" [hidden] = "!show">
  <mat-label>
    Message from Event Binding
  </mat-label><br /><br />
  <mat-label>
    Welcome {{username}}
  </mat-label><br />
</div>
