.text-align-center{
    text-align: center;
}

.container{
    padding-left: 100px;
}

.button-style{
    background: blue;
    color: white;
    text-align: center;
}

.left-spacing{
    margin-left: 50px;
}

.top-spacing{
    padding-top: 100px;
}
